In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read file into DataFrame
cpi_df = pd.read_csv('Resources/FPCPITOTLZGUSA.csv')
#medi_df.head(20)
cpi_df

          DATE  FPCPITOTLZGUSA
0   1960-01-01        1.457976
1   1961-01-01        1.070724
2   1962-01-01        1.198773
3   1963-01-01        1.239669
4   1964-01-01        1.278912
..         ...             ...
58  2018-01-01        2.442583
59  2019-01-01        1.812210
60  2020-01-01        1.233584
61  2021-01-01        4.697859
62  2022-01-01        8.002800

[63 rows x 2 columns]

In [3]:
cpi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            63 non-null     object
 1   FPCPITOTLZGUSA  63 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

In [10]:
#Get rid of data not need it
cpi_df_19_21 = cpi_df.tail(4)
cpi_df_19_21 = cpi_df_19_21.head(3)
cpi_df_19_21

          DATE  FPCPITOTLZGUSA
59  2019-01-01        1.812210
60  2020-01-01        1.233584
61  2021-01-01        4.697859

In [ ]:
#Graph CPI / Year , line